.wrapper {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.container {
  width: 800px;
  height: 600px;
  background-color: gray;
  border-radius: 10px;
  padding: 0 20px;
}

.container h1 {
  text-align: center;
}

.add_input__container input {
  padding: 10px;
}

.add_input__container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
}

table td {
  text-align: center;
}

#warning {
  color: red;
  text-align: center;
}

.searchDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchDiv input {
  width: 75%;
  padding: 10px;
}
